:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 400;

  color: #c7f9cc;
  background-color: #0b1220;
}

body {
  margin: 0;
  /* min-height: 100vh; */
  /* background: #0b1220; */
  /* color: #c7f9cc; */
  display: flex;
  justify-content: center;
}

a {
  color: #f97316;
}

a:hover {
  color: #0d98ba;
}

h1 {
  color: #14b8a6;
}

h2 {
  color: #34d399;
  border: 2px solid #34d399;
  padding: 8px;
}

h3 {
  color: #34d399;
  text-decoration: underline;
}

br {
  margin-bottom: 10px;
}

p {
  margin-top: 0.1rem;
}

.hcontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.vcontainer {
  display: flex;
  flex-direction: column;
}

/*_____________________components specific_____________________*/
.navBar {
  border: solid  1px;
  background-color: ;
  line-height: 2;

  font-size: 20px;
  text-align: center;
    width: 150px;
  height: 1000px;
  padding: 5px;
}

.main_page {
  padding: 2rem;
  background: #15213c;
  border-radius: 18px;
  line-height: 1.3;
  width: 680px;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.35);
}


/*_____________________posts_____________________*/
.postImg {
  max-width: 300px;
  height: auto;
  max-height: 300px;
  border-radius: 8px;
  margin: 10px;
}

/*_____________________abandoned stuffs_____________________*/
.gamesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
  }

.gameDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.gameDisplayImg {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.gameDisplayTitle {
  font-weight: 600;
  text-align: center;
}

::selection {
  background: #38bdf8;
  color: #0b1220;
}

::-moz-selection {
  background: #38bdf8;
  color: #0b1220;
}
